<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        tools:ignore="GoogleAppIndexingWarning"
        android:name=".MyApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
    >
        <activity android:name=".MainActivity"
                  android:label="@string/main_activity_title"
                  android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:name=".AddRemoveRadarActivity"
                  android:label="@string/edit_radars"
                  android:parentActivityName=".MainActivity">
        </activity>
        <activity android:name=".SettingsActivity"
                  android:label="@string/settings"
                  android:parentActivityName=".MainActivity">
        </activity>
        <activity android:name=".HelpActivity"
                  android:label="@string/help"
                  android:parentActivityName=".MainActivity">
        </activity>
        <activity android:name=".ViewLogActivity"
                  android:label="@string/widget_log"
                  android:parentActivityName=".MainActivity">
        </activity>

        <receiver android:name=".SloWidgetProvider"
                  android:label="@string/widget_slo"
                  android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_slo"/>
        </receiver>
        <receiver android:name=".HrKompozitWidgetProvider"
                  android:label="@string/widget_hr_kompozit"
                  android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_hr_kompozit"/>
        </receiver>
        <receiver android:name=".HrGradisteWidgetProvider"
                  android:label="@string/widget_hr_gradiste"
                  android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_hr_gradiste"/>
        </receiver>
        <receiver android:name=".HrBilogoraWidgetProvider"
                  android:label="@string/widget_hr_bilogora"
                  android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_hr_bilogora"/>
        </receiver>
        <receiver android:name=".HrGoliWidgetProvider"
                  android:label="@string/widget_hr_goli"
                  android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_hr_goli"/>
        </receiver>
        <receiver android:name=".HrDebeljakWidgetProvider"
                  android:label="@string/widget_hr_debeljak"
                  android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_hr_debeljak"/>
        </receiver>
        <receiver android:name=".HrUljenjeWidgetProvider"
                  android:label="@string/widget_hr_uljenje"
                  android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_hr_uljenje"/>
        </receiver>
        <service
            android:name=".RefreshImageService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"
        />
        <receiver
            android:name=".LocationBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.belotron.weatherradarhr.action.RECEIVE_LOCATION"/>
            </intent-filter>
        </receiver>
        <service
            android:name=".UpdateAgeService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"
        />
    </application>
</manifest>
