<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.belotron.weatherradarhr">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".MyApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:allowBackup="true"
        android:supportsRtl="true"
    >
        <activity android:name=".MainActivity"
                  android:label="@string/main_activity_title">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:name=".SettingsActivity"
                  android:label="@string/settings"
                  android:parentActivityName=".MainActivity">
        </activity>
        <!--<activity android:name=".TestActivity"-->
                  <!--android:label="@string/main_activity_title">-->
            <!--<intent-filter>-->
                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->
            <!--</intent-filter>-->
        <!--</activity>-->

        <receiver android:name=".LradarWidgetProvider"
                  android:label="@string/widget_slo">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/lradar_widget_info"/>
        </receiver>
        <receiver android:name=".KradarWidgetProvider"
                  android:label="@string/widget_hr">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/kradar_widget_info"/>
        </receiver>
        <service
            android:name=".RefreshImageService"
            android:permission="android.permission.BIND_JOB_SERVICE"
        />
        <service
            android:name=".UpdateAgeService"
            android:process=":UpdateAgeService"
            android:permission="android.permission.BIND_JOB_SERVICE"
        />
    </application>
</manifest>
