<?xml version="1.0" encoding="utf-8"?>
<manifest
        package="com.belotron.weatherradarhr"
        xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        tools:ignore="GoogleAppIndexingWarning"
        android:name=".MyApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:usesCleartextTraffic="true"
    >
        <activity android:name=".MainActivity"
                  android:label="@string/main_activity_title">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:name=".SettingsActivity"
                  android:label="@string/settings"
                  android:parentActivityName=".MainActivity">
        </activity>
        <activity android:name=".HelpActivity"
                  android:label="@string/help"
                  android:parentActivityName=".MainActivity">
        </activity>
        <activity android:name=".ViewLogActivity"
                  android:label="@string/widget_log"
                  android:parentActivityName=".MainActivity">
        </activity>

        <receiver android:name=".LradarWidgetProvider"
                  android:label="@string/widget_slo">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/lradar_widget_info"/>
        </receiver>
        <receiver android:name=".KradarWidgetProvider"
                  android:label="@string/widget_hr">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/kradar_widget_info"/>
        </receiver>
        <service
            android:name=".RefreshImageService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"
        />
        <receiver
            android:name=".LocationBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.belotron.weatherradarhr.action.RECEIVE_LOCATION"/>
            </intent-filter>
        </receiver>
        <service
            android:name=".UpdateAgeService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"
        />
    </application>
</manifest>
